ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

li {
  display: inline-block;
  
}

li a {
  position: relative;
  text-decoration: none;
  color: #2E2E2E;
  text-transform: uppercase;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 3px;
  transition: color 0.3s ease;
}

li a::after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #007bff;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

li a:hover {
  color: #007bff;
}

li a:hover::after {
  transform: scaleX(1);
}